<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


    <link rel="stylesheet" id="themeSheet" href="/CSS/lightMode.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
            <span class="material-symbols-outlined modeColor">
                waving_hand
                </span>
            <h1 class="outfitMed">SKYLAR</h1>
        </div>

        <div class="rightNav">
            <button id="themeMode">
                <span class="material-symbols-outlined" id="themeSwitch">dark_mode</span>
            </button>
    
            <button id="navMenu">
                <span class="material-symbols-outlined">
                    menu
                    </span>
            </button>
        </div>

    </nav>

    <div class="navMenu hidden" id="navMenu">
        <div class="nav">
            <a href="/" class="outfitReg">HOME</a>
            <a href="/projects" class="outfitReg">PROJECTS</a>
            <a href="/services" class="outfitReg">SERVICES</a>
            <a href="/about" class="outfitReg">ABOUT</a>
        </div>
    </div>
    
    