<%- include('./partials/header.ejs') %>

<header>
    <div class="name">
        <h1 class="outfitThin">I'm</h1>
    <h1 class="outfitMed modeColor">Skylar Chapman</h1>
    </div>  
</header>
<div class="line">

</div>
<div class="headerpic">
    <div class="pic">

    </div>
</div>

<div class="socialsContainer">
    <div class="socials">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
    </div>
</div>



<%- include('./partials/footer.ejs') %>