<%- include('./partials/header.ejs') %>

<header>
    <div class="name">
        <h1 class="outfitThin">I'm</h1>
    <h1 class="outfitMed modeColor">Skylar Chapman</h1>
    </div>  
</header>
<div class="line">
    <h1>________________</h1>
</div>

<%- include('./partials/footer.ejs') %>