body {
    background-color: #2a2a2a;
    color: #e7e7e7;
}

button {
    background-color: inherit;
    color: #EAA369;
}

a {
    color: #e7e7e7;
}

.modeColor {
    color: #EAA369;
}

.socials {
    background-color: #232323;
}

.line {
    border-bottom: 2px #e7e7e7 solid;
}